$blanco: white;

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.header {
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.header__img {
    margin-left: 30px;
    width: 200px
}

.login {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: sans-serif;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--label {
    font-size: 14px;
}

.login__container--remember-me {
    color: $blanco;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media > div img {
    width: 30px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 14px;

}

.login__container--register a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: white;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer {
    background-color: #AB88FF ;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/*Parte mobile*/
@media only screen and (max-width:600px) { 
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }

    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}


/*----------- Registro---------------*/
.headerregister {
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.login__container--iniciar {
 text-align: center;
 cursor: pointer;
}

.login__container--iniciar:hover {
    text-decoration: underline;
}

.login__containerregistro {
    background-color: rgba(255, 255, 255, 0.1);
    border: 3px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 600px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.buttonregistro {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

/* CSS Previo en header */
body{
    margin: 0;
    font-family: 'Mulish', sans-serif;
    background-color: #8f57fd;
}

.header {
    background-color: #8f57fd;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu{
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li{
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p{
    margin: 0px;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    border-radius: 0px 0px 40px 40px;
}

.main__title {
    color: white;
    font-size: 25px;
}

.categories__title {
    color: white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 35px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    /*width: 70%;*/
    outline: none;
}

.inputmaquetacion {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 35px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
    margin-top: 10px;
}

::placeholder {
    color: white;
}

/*CSS Carousel*/

body {
    margin: 0px;
}

.carousel{
    width: 100%;
    overflow: scroll; /* Permite el scroll*/
    overflow-x: hidden;
    padding: 30px;
    position: relative;
}

.carousel__container{
    white-space: nowrap; /* Evita que los elementos se vayan abajo uno de otros, hace que sigan en la primera linea*/
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carousel-item{
    background: palevioletred;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px; /* Espacio entre cada una de las cards*/
    display: inline-block; 
    cursor: pointer; /* Cambia el cursor al poner el mouse en la card por una mano*/
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0); /* Con esto al hacer hover los elementos se desplazan hacia la derecha*/
}

.carousel__container:hover .carousel-item{
    opacity: 0.3; /* Esto logra que al hacer hover la opacidad de los items disminuya*/
}

.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5); /* Al hacer hover al item el tamaño de este incrementara*/
    opacity: 1; /* Al hacer hover al item su opacidad seguira siendo igual*/
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover; /*La imagen recupera su tamaño original*/
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%,  rgba(0, 0, 0, 0)100%);
    /*Crea un gradiente desde el color trasparente a un oscuro*/
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    /*Se creara el gradiente con esta transición/animación*/
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-item__details:hover {
    opacity: 1;
}

/*-------------Not found page---------------*/

.login__message {
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* border: 3px solid white; */
    /* border-radius: 40px; */
    color: white; 
    /*padding: 60px 68px 40px;*/
    /*min-height: 600px;*/
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-family: 'Muli' sans-serif;
    font-size: 100px;
}

.login__message p {
color: white;
align-items: center;
justify-content: center;
font-size: 30px;
margin: 0px;
}

section h2 {
    margin: 0px;
}


.wrap {
  margin: 0px auto;
  width: 486px;
}

.box {
  width: 160px;
  height: 120px;
  float: left;
  background: #347fc3;
  border: 1px solid #fff;
  overflow: hidden;
}

.text {
  text-align: center;
  margin-top: 56px;
  color: #fff;
  font-size: 1.0em;
  font-family: sans-serif;
  text-transform: uppercase;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}